<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">Sherie Gudio/N01477703</header>
    {{{body}}}
    <footer class="footer">N01477703@humber.ca</footer>
  </body>
</html>