<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

 <div class="container">
        <h1>Home</h1>
        <a href="/">Home</a> <br>
        <a href="/users">Users</a><br>
        <a href="/data">Data</a><br>
        <a href="/product/:index">Product Index</a><br>
        <a href="/data/search/prdID">Product ID</a><br>
        <a href="/data/search/prdName">Product Name</a><br>
        <a href="/allData">AllData</a><br>
        <a href="/allDataZero">AllDataZero</a><br>
        <a href="/allDataZeroNA">AllDataNA</a><br>
        <a href="/allDataColor">All Data Color</a><br>
    </div>
